@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D0D0D;
}

.calculator {
  content: '';
  width: 310px;
  padding: 20px;
  border-radius: 25px;
  background: #000000;
  position: relative;
  content: '';
}

.decoration {
  display: flex;
  gap: 10px;
}

.decoration div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.decoration div:nth-child(1) {
  background: #D81E1F;
}

.decoration div:nth-child(2) {
  background: #F5C100;
}

.decoration div:nth-child(3) {
  background: #33C759;
}

.signal {
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  height: 20px;
  color: #FFFFFF;
}

.resultado-anterior {
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  margin-bottom: 40px;
  height: 20px;
  color: #FFFFFF;
}

.result {
  width: 100%;
  border: none;
  background: transparent;
  margin: 70px 0px 0px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.buttons-row button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: transparent;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 48px;
  color: #FFFFFF;
  cursor: pointer;
}

.buttons-row button:active {
  background: #222222;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.buttons-row button.operation, .buttons-row button.clear, .buttons-row button.mudar {
  color: #959595;
}

.buttons-row button.equal {
  background: #FF8906;
  color: #000000;
  order: 1;
}

.buttons-row button.equal:active {
  background: #DD7600;
}

.buttons-row:last-child::after {
  content: '';
  width: 60px;
  height: 60px;
}

@media (hover: hover) {
  .buttons-row button:hover {
    background: #0D0D0D;
  }
}
